/*Full screenn - 1024px - обычные стили*/ 
@media (max-width: 1240px){
    .container{
        max-width: 1000px;
        padding: 0 15px;
    }
    .about-us__section img{
        max-width: 60%;
        height: auto;
        right: 0;
    }
    .popular__tour{
        padding: 15px;
    }
    .slick-slide {
        margin: 0px 15px;
    }
    .slick-list {
        margin: 0px -15px;
    }
    .news__article{
        flex-basis: 55%;
    }
    .blog .title {
        margin-bottom: 65px;
    }
    .blog__aside{
        margin-right: 25px;
    }
    .blog__aside__news-box .aside__news:last-child {
        margin-bottom: 43px;
    }
    .contact-form__info {
        max-width: 450px;
    }
    .contact-form__img {
        flex-shrink: 1;
        width: 53%;
    }
}
/*1024px - 768px - @media (max-width: 1024px) {*/
 @media (max-width: 1024px){
    .container{
        max-width: 900px;
        padding: 0 15px;
    }
    .title{
        font-size: 42px;
    }
    .header__navigation__list{
        flex-basis: auto;
        column-gap: 10px;
    }
    .header__info{
        flex-basis: 25%;
        column-gap: 25px;
    }
    .start{
        padding-top: 200px;
        padding-bottom: 204px;
    }
    .about-us{
        padding-top: 80px;
        padding-bottom: 100px;
    }
    .about-us__section img{
        max-width: 55%;
        height: auto;
        top: 35%;
    }
    .popular{
        padding-bottom: 150px;
    }
    .popular h2{
        margin-bottom: 50px;
    }
    .popular__box{
        max-width: 750px;
        margin: 0 auto;
    }
    .slick-slide {
        margin: 0px 10px;
    }
    .slick-list {
        margin: 0px -10px;
    }
    .blog{
        padding-top: 100px;
        padding-bottom: 105px;
    }
    .aside__news{
        padding-left: 15px;
        padding-right: 15px;
    }
    .aside__news h4 {
        line-height: 18px;
        font-size: 14px;
    }
    .blog__aside {
        flex-basis: 35%;
    }
    .news__article {
        flex-basis: 65%;
        flex-shrink: 1;
    }
    .contact-form {
        background-color: inherit;
        background-image: url(../img/img.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .contact-form__img {
        display: none;
    }
    .contact-form__info {
        max-width: 100%;
        position: relative;
        z-index: 2;

        padding: 25px;
        text-align: center;
    }
    .contact-us__form {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .info-box {
        column-gap: 35px;
    }
}
/*768px - 480px - @media (max-width: 768px) */
@media (max-width: 900px){
    .container{
        padding: 0 20px;
    }
    .title{
        font-size: 35px;
    }
    .header__info{
        padding-right: 15px;
        flex-basis: 70px;
    }
    .header__info .contact-phone{
        display: none;
    }
    .header__navigation__list .contact-phone__burger{
        display: block;
        margin-top: 25px;
    }
    .header__navigation__list a::after{
        content: none;
    }
    .header__navigation__list{
        position: absolute;
        flex-direction: column;
        top: 80px;
        right: -100%;
        background-color: rgb(83,111,132);
        /* border: 1px solid #fff; */
        width: 250px;
        transition: right 1s;
    }
    .header__navigation__list.active{
        right: 0;
        transition: right 0.4s;
    }
    .header__navigation__list li{
        padding: 10px 18px;
    }
    .header__navigation__list li a{
        font-size: 18px;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        cursor: pointer;
    }
    .header__burger::before,
    .header__burger::after{
        content: "";
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: 0.3s; 
    }
    .header__burger span{
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 3px;
        top: 8px;
        transition: 0.3s;
    }
    .header__burger::before{
        content: "";
        top: 0;
    }
    .header__burger::after{
        content: "";
        bottom: 0;
    }
    .header__burger.active::after{
        content: "";
        transform: rotate(45deg) translate(-12px);
    }
    .header__burger.active::before{
        content: "";
        transform: rotate(-45deg) translate(-12px);
    }
    .header__burger.active span{
        transform: scale(0);
    }
    .header__info a{
        margin-right: 14px;
    }
    .about-us{
        padding-top: 60px;
        padding-bottom: 80px;
    }
    .about-us__info{
        max-width: 100%;
        text-align: center;
    }
    .about-us__info p{
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .about-us__section img{
        position: static;
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }
    .tour{
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .tour__table{
        margin-bottom: 40px;
        width: 700px;
    }
    .tour__table tr{
        height: 60px;
        font-size: 18px;
    }
    .news__article .subtitle {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 15px;
    }
    .blog {
        padding-top: 70px;
        padding-bottom: 80px;
    }
    .blog .title {
        margin-bottom: 45px;
    }
    .info{
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .info-box__contacts span{
        font-size: 14px;
    
        margin-bottom: 10px;
    }
    .info-box__contacts a{
        font-size: 16px;
        line-height: 24px;
    
        margin-bottom: 20px;
    }
}
@media (max-width: 768px){
    .title{
        font-size: 27px;
    }
    .subtitle{
        font-size: 16px;
        line-height: 25px;
    }
    .start{
        padding-top: 130px;
        padding-bottom: 135px;
    }
    .start .title{
        font-size: 70px;
    }
    .slick-slide {
        
        margin: 0px 6px;
    }
    .slick-list {
        margin: 0px -6px;
    }
    .popular__box {
        max-width: 550px;
    }
    .tour{
        padding-top: 70px;
        padding-bottom: 80px;
    }
    .tour__table{
        width: 500px;
    }
    .tour .title,
    .tour .subtitle{
        margin-bottom: 15px;
    }
    .blog .title {
        margin-bottom: 30px;
    }
    .blog__info {
        flex-direction: column;
    }
    .blog__aside__news-box{
        display: flex;
        overflow-x: scroll;
    }
    .aside__news {
        flex-basis: 200px;
        flex-shrink: 0;
    }
    .blog__aside__news-box .aside__news:last-child {
        margin-bottom: 0;
    }
    .blog__aside {
        margin-right: 0px;
    }
    .blog .orange-btn{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .news__article {
        flex-basis: 100%;
        flex-shrink: 0;
    }
    .info{
        padding-top: 60px;
        padding-bottom: 80px;
    }
    .info-box {
        column-gap: 0px;
        flex-direction: column;
    }
    .info-box__contacts h2{
        margin-bottom: 40px;
        text-align: center;
    }
    .info-box__contacts{
        order: 1;
        flex-basis: 100%;
        margin-bottom: 10px;
    }
    .info-box iframe{
        order: 2;
        margin: 0 auto;
        width: 100%;
    }
    .info-box__contacts span{
        font-size: 14px;
    
        margin-bottom: 1px;
    }
    .info-box__contacts a{
        font-weight: 500;
        font-size: 16px;
    
        margin-bottom: 22px;
    }
    .page__footer .container {
        align-items: flex-start;
        flex-direction: column;
        row-gap: 10px;
    }
    .page__footer p{
        order: 3;
    }
} 
@media (max-width: 530px){
    .tour__table{
        width: 430px;
    }
    .tour__table tr{
        height: 50px;
        font-size: 16px;
    }
}

/*480px - 320px - @media (max-width: 480px)*/
@media (max-width: 480px){
    .title{
        font-size: 22px;
    }
    .subtitle{
        font-size: 14px;
        line-height: 24px;
    }
    .start{
        padding-top: 100px;
        padding-bottom: 80px;
    }
    .start .title{
        font-size: 50px;
        line-height: 100px;
    }
    .about-us{
        padding-top: 40px;
        padding-bottom: 60px;
    }
    button.slick-next.slick-arrow,
    button.slick-prev.slick-arrow{
        bottom: -55px;
    }
    
    .tour .container{
        padding: 0 2px;
    }
    .tour{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .tour .title,
    .tour .subtitle{
        margin-bottom: 10px;
    }
    .tour__table{
        width: 310px;
    }
    .table-head th{
        font-size: 15px;
    }
    .tour__table tr{
        font-size: 14px;
    }
    .news__article .subtitle {
        font-size: 14px;
        line-height: 24px;
    }
    .news__article h4 {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .contact-form{
        padding-top: 0;
        padding-bottom: 0;
    }
    .contact-form .container{
        padding: 0;
    }
    .contact-form__info .title{
        margin-bottom: 20px;
    }
    .contact-form__info .subtitle{
        margin-bottom: 15px;
    }
    .contact-us__form {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .contact-form br{
        display: none;
    }
    .contact-form p{
        font-size: 14px;
    }
}