body{
	position: relative;

	font-family: 'Roboto', Arial, sans-serif;
}
*{
		box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p,li,ul,ol,img,a,input{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: inherit;
}
img{
	max-width: 100%;
}
.container{
	max-width: 1170px;
	margin: 0 auto;
}
.title{
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	font-size: 52px;
}
.subtitle{
	font-size: 18px;
	line-height: 27px;
	color: #061B28;
}
.btn{
	display: block;
	color: #FCFCFC;
	background-color: inherit;
	border: 2px solid #FCFCFC;
	max-width: 170px;
	padding: 15px 5px;
	margin: 0 auto;
	transition: 0.2s;
}
.btn:hover{
	background: #fcfcfc5e;
	color: #FCFCFC;
}
.orange-btn{
	display: block;
	color: #FCFCFC;
	background-color: #EC5118;
	border: none;
	padding: 15px 5px;
	text-align: center;
	transition: 0.4s;
}
.orange-btn:hover{
	background: inherit;
	color: #EC5118;
	box-shadow: inset 0 0 0 3px #EC5118;
}
.header__burger{
	display: none;
}
/*--------------- Header Section ---------------*/
.page-heeder{
	position: absolute;
	width: 100%;
	padding-top: 42px;
	padding-bottom: 40px;
}
.header__navigation{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__navigation__list{
	display: flex;
	justify-content: space-between;
	flex-basis: 411px;

	list-style: none;
	color: #fff;
}
.header__navigation__list a{
	position: relative;
	color: #fff;
}
.header__navigation__list a::after{
	content: "";
	position: absolute;
	bottom: -5px ;
	left: 0;
	width: 0;
    height: 2px;
	background-color: inherit;
	transition: 0.3s;
}
.header__navigation__list a:hover::after{
	background-color: #fff;
	width: 100%;
}
.header__info{
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-basis: 240px;
}
.header__info a{
	color: #fff;
}
.header__info a:hover path{
	stroke: #7F7F7F;
}

.header__search{
	position: relative;
}
.header__search::before{
	content: "";
	position: absolute;
	top: -50%;
    left: -60%;
	width: 35px;
	height: 35px;
	background-color: #fff;
	border-radius: 50%;
	opacity: 50%;
}
input.search.active{
	max-height: 100px;
	transition: 0.6s;
	border: 1px solid #fff;
}
input.search{
	transition: 0.2s;
	position: absolute;
    top: 33px;
    right: -10px;
	max-height: 0;
	overflow: hidden;
	border: 0;
	height: 25px;
	padding-left: 10px;
	background-color: rgba(255, 255, 255, 0.5);
	color: #2d3941;
}
input.search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: rgb(255, 255, 255);
	opacity: 1; /* Firefox */
}
input.search:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: red;
} 
input.search::-ms-input-placeholder { /* Microsoft Edge */
	color: red;
}

.header__login{
	position: relative;
}
.header__login::before{
	content: "";
	position: absolute;
	top: -50%;
    left: -85%;
	width: 35px;
	height: 35px;
	background-color: #fff;
	border-radius: 50%;
	opacity: 50%;
}
.contact-phone__burger{
	display: none;
}
/* Start Section */
.start{
	padding-top: 246px;
	padding-bottom: 204px;
	background-image: url(../img/main.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	text-align: center;
}
.start h1{
	font-style: normal;
	font-weight: 600;
	font-size: 98px;
	line-height: 145px;
	color: #FCFCFC;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	margin-bottom: 10px;
}

/* About Us Section */
.about-us{
	position: relative;
	padding-top: 140px;
	padding-bottom: 140px;
}
.about-us__info{
	max-width: 472px;
}
.about-us__info h2{
	margin-bottom: 15px;
}
.about-us__info p{
	max-width: 350px;
	margin-bottom: 15px;
}
.about-us__section img{
	position: absolute;
	right: 3%;
	top: 30%;
}

/* Popular Section */
.popular{
	padding-bottom: 205px;
}
.popular h2{
	text-align: center;
	margin-bottom: 80px;
}
.popular__box{
	display: flex;
	justify-content: space-between;
	align-items: center;
    flex-wrap: wrap;
}
.tour-1{
	background-image: url(../img/slider-img1.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.tour-2{
	background-image: url(../img/slider-img2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.tour-3{
	background-image: url(../img/slider-img3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.popular__tour{
	position: relative;
	display: flex;
	flex-direction: column;

	padding: 35px;
}
.popular__tour a{
	position: absolute;
	top: 41px;
	right: 41px;
}
.popular__tour a::before{
	content: "";
	display: block;
	width: 35px;
	height: 35px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	background-image: url(/img/icons/flag.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.popular__tour a:hover::before,
.popular__tour a.marker-enabled::before{
	background-image: url(/img/icons/flag-active.svg);
    background-position-y: 80%;
}
.slick-slide {
	margin: 0 30px;
}
.slick-list {
    margin: 0 -30px;
}
.slick-prev:before{
    content: url(../img/icons/prev.png);
	opacity: 1;
	font-size: inherit;
}
.slick-next:before{
    content: url(../img/icons/next.png);
	opacity: 1;
	font-size: inherit;
}
button.slick-next.slick-arrow,
button.slick-prev.slick-arrow{
	width: 35px;
    height: 35px;
	top: auto;
    bottom: -75px;

	transform: none;
    border-radius: 50%;
    background: #E6E8EA;
}
button.slick-next.slick-arrow{
	right: 0;
}
button.slick-prev.slick-arrow{
	left: calc(100% - 95px);
}
button.slick-next.slick-arrow:hover,
button.slick-prev.slick-arrow:hover{
	background: #b6b5b5;
}
.popular__tour svg{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.country-marker{
	margin-bottom: 135px;
}
.country-marker::before{
	content: url(../img/icons/pointer.svg);
	padding-right: 8px;
}
.popular__tour-info .title{
	font-size: 26px;
	margin-bottom: 12px;
}
.popular__tour-info span::after{
	content: "|";
	padding: 0 12px;
}
.popular__tour-info span:last-child::after{
	content: "";
	display: none;
}
.tour-info__detail{
	margin-bottom: 15px;
}
.popular__tour-info .level{
	position: relative;
	padding-left: 22px;
}
.popular__tour-info .level::before{
	position: absolute;
	left: 0;
	top: 0;
}
.popular__tour-info .circle-half::before{
	content: url(../img/icons/lvl2.png);
	left: -3px;
}
.popular__tour-info .circle-quater::before{
	content: url(../img/icons/lvl1.png);
}

/*--------------------Tour Section-----------------------------*/
.tour{
	background-image: url(../img/plan-img.jpg);
	background-size: cover;
	background-repeat: no-repeat;

	padding-top: 100px;
	padding-bottom: 100px;

	text-align: center;
}
.tour .title,
.tour .subtitle{
	color: #FCFCFC;
	margin-bottom: 25px;
}
.tour__table{
	margin: 0 auto;
	color: #FCFCFC;
	margin-bottom: 50px;
	border-collapse: collapse;
	width: 830px;
}
.table-head th{
	font-size: 18px;
	font-weight: 100;
	color: #A7AEB4;
	border-collapse: collapse;
	border-bottom: 1px solid #45545E;
}

.tour__table tr{
	border-bottom: 1px solid #45545E;
	height: 60px;
	font-size: 22px;
}

/* Blog Section */
.blog{
	padding-top: 140px;
	padding-bottom: 135px;
}
.blog .title{
	text-align: center;
	margin-bottom: 75px;
}
.blog__info{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.blog__aside{
	flex-basis: 400px;
	flex-shrink: 0;
	flex-grow: 0;
}
.aside__news{
	padding-top: 25px;
	padding-bottom: 22px;
	padding-left: 30px;
	padding-right: 40px;
	border-bottom: 1px solid #061B28;
}
.aside__news h4 {
	color: #061B28;
	font-weight: 500;
	line-height: 25.2px;
}
.active-news{
	color: #FCFCFC;
	background-color: #061B28;
	transition: 0.5s;
}
.active-news h4{
	color: #FCFCFC;
}
.aside__news:hover{
	color: #FCFCFC;
	background-color: #061B28;
}
.aside__news:hover h4{
	color: #FCFCFC;
}
.blog time{
	display: block;
	color: #626F77;
	font-size: 14px;
	
	margin-bottom: 12px;
}
.news__article{
	display: flex;
	flex-direction: column;
	flex-basis: 60%;
	flex-shrink: 0;
	flex-grow: 0;
}
.blog__aside__news-box .aside__news:last-child{
	margin-bottom: 30px;
}

.news__article img{
	margin-bottom: 30px;
}

.news__article h4{
	font-size: 22px;
	margin-bottom: 20px;
}

.news__article .subtitle{
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 15px;
}
.news__article .subtitle:last-child{
	margin-bottom: 0;
}

/* Contact-form Section */
.contact-form{
	background-color: #061B28;
	position: relative;
	padding-top: 73px;
	padding-bottom: 80px;
	overflow: hidden;
}
.contact-form__info{
	max-width: 525px;
	flex-shrink: 0;

	background-color: #061B28;
	color: #FCFCFC;
}
.contact-form__info .title{
	margin-bottom: 35px;
}
.contact-form__info .subtitle{
	margin-bottom: 20px;
}
.contact-form__img{
	flex-shrink: 1;
	width: 50%;
	position: absolute;
	right: 0;
	bottom: 0;
}
.contact-form .container .subtitle{
	color: #FCFCFC;
}
.contact-us__form{
	display: flex;
	flex-direction: column;

	margin-bottom: 20px;
}

.contact-us__form .input-item{
	line-height: 24px;
	color: #7E8386;

	border: none;
	border-bottom: 1px solid #7E8386;
	background-color: transparent;

	padding-top: 22px;
	padding-bottom: 6px;
}
.contact-us__form .contact-us__mail-input{
	margin-bottom: 45px;
}

/* ----------------------------------information Section ------------------------------------------------*/
.info{
	padding-top: 140px;
	padding-bottom: 140px;
}
.info-box{
	display: flex;
	justify-content: space-between;
	column-gap: 70px;
}
.info-box__contacts{
	flex-basis: 40%;
}
.info-box__contacts h2{
	margin-bottom: 40px;
}

.info-box__contacts span{
	display: block;
	font-size: 18px;

	margin-bottom: 10px;
}
.info-box__contacts a{
	display: block;
	font-weight: 500;
	font-size: 22px;
	line-height: 31px;

	color: #061B28;

	margin-bottom: 22px;
}
.info-box .socials a{
	display: inline;
	margin-right: 15px;
}
.info-box a:hover,
.info-box path:hover{
	color:#EC5118;
	fill: #EC5118;
}
/*----------------------------- Footer Section ----------------------*/
.page__footer{
	background-color: #061B28;
	color: #FCFCFC;
	font-size: 12px;

	padding-top: 50px;
	padding-bottom: 40px;
}
.page__footer .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.page__footer a{
	font-size: 12px;
	color: #FCFCFC;
}

/* ------------------Login popup---------------- */
.popup-wrapper{
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100vh;

	display: none;
}
.popup-wrapper.active{
	display: block;
}
.popup__login-container{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 500px;
	background-color: #061B28;
	z-index: 2;

	display: flex;
	flex-direction: column;
}
.popup__login{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #061B28;
	
	width: 450px;
	padding: 20px;
	display: flex;
	flex-direction: column;

	margin: 0 auto;
}
.login__form{
	padding-top: 20px;
	padding-bottom: 20px;

	display: flex;
	flex-direction: column;
	row-gap: 20px;
}
.login__form .input-item{
	border: none;
	border-bottom: 1px solid #7E8386;
	background-color: transparent;
	color: #ffffff;
	height: 30px;
	padding-left: 10px;
}
.login__form-about{
	display: flex;
	justify-content: space-between;
}

.login__form .orange-btn{
	width: 100%;
}
.popup__login h3{
	color: #fff;
	margin: 0 auto;
    margin-bottom: 25px;
}
.popup__login a{
	color: #7E8386;
	text-decoration: underline;
}
.popup__login a:hover{
	color: #EC5118;
}

.close_popup{
	background-color: inherit;
    border: none;
    color: #fff;
    cursor: pointer;
	font-size: 30px;
	align-self: flex-end;
	padding-right: 15px;
}